/* style du template */

body{
    font-family: $police;
    font-size: $size;
    color: $primaire;
    background-image: url('img/bg.png');
}


.box{
    background: #fff;
    border-bottom: solid 1px #ccc;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    
    h1, h2, h3{
        font-weight: 700;
    }
}

.espace{
    height: 45px
}

.titre{
        margin-bottom: 15px;
   
}
